{% extends 'base.html.twig' %}

{% block title %}Bolonews
{% endblock %}

{% block body %}
	<section class="LaUne">
		<h3>A la Une !</h3>
		{% if articles %}
			<div class="articleALaune">
				<div class="imgALaune">
					{% if articles.image %}
						<img src="{{ asset('images/' ~ articles.image) }}" alt="image de l'article à la une de bolonews" class="img_alune">
					{% endif %}
				</div>
				<div class="article-text">
					<span class="categorie-laUne">{{ articles.categorie.nom }}</span>
					<h2 class="titreALaune">{{ articles.titre }}</h2>
					<p class="paraALaune">{{ articles.chapeau }}</p>
					<div><br>
						<span>{{ articles.auteur.nom }}</span><br>
						<span>publié le
							{{ articles.date|date('d/m/Y H:i') }}</span>
						<span class="commentaires" style="margin-left: 30%;">
							<img src="{{ asset('icons/ph/chat-circle.svg') }}" alt="comment" class="comment-icon" width="25px" height="25px">
							{{ articles.commentaires|length }}
						</span>
						<span class="like" data-id="{{ articles.id }}">
							<img src="{{ asset('icons/ph/heart.svg') }}" alt="like" class="like-icon" width="25px" height="25px">
							<span class="like-count">{{ articles.likes|length }}</span>
						</span>
					</div>
				</div>
			</div>
		{% endif %}
	</section>

	<section class="DernieresParutions">
		<h3>Dernières parutions</h3>
		<div class="articles-derParu">
			{% for article in dernieresParutions %}
				<div class="article-card">
					<div class="derParuImg">
						{% if article.image %}
							<img src="{{ asset('images/' ~ article.image) }}" alt="image de l'article" class="img_derParu">
						{% endif %}
					</div>
					<div class="derParuText">
						<div class="article-derParu"></div>
						<span class="categorie-derParu">{{ article.categorie.nom }}</span>
						<h4>{{ article.titre }}</h4>
						<span class="nom">{{ article.auteur.nom }}</span><br>
						<span class="date">Le
							{{ article.date|date('d/m/Y H:i') }}</span>
						<p class="chapeau">{{ article.chapeau }}</p>
						<a href="{{ path('app_article_show', {'id': article.id}) }}" class="lireLaSuite">Lire la suite
							<img src="{{ asset('icons/ph/arrow-right.svg') }}" alt="" width="25px" height="25px"></a><br>

						<span class="commentaires">
							<img src="{{ asset('icons/ph/chat-circle.svg') }}" alt="comment" class="comment-icon" width="25px" height="25px">
							{{ article.commentaires|length }}
						</span>
						<span class="like" data-id="{{ article.id }}">
							<img src="{{ asset('icons/ph/heart.svg') }}" alt="like" class="like-icon" width="25px" height="25px">
							<span class="like-count">{{ article.likes|length }}</span>
						</span>
					</div>
				</div>
			{% else %}
				<p>Aucun article récent.</p>
			{% endfor %}
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/like.js') }}"></script>
{% endblock %}
