{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block body %}
	<div class="searchBar">
		{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
		{{ form_widget(form.recherche) }}
		<button type="submit" class="search"><img src="{{ asset('icons/ph/magnifying-glass.svg') }}" alt="icon de loupe rechercher un article" width="25px" height="25px" class="recherche"></button>
		{{ form_end(form) }}
	</div>
	<div class="resultatRecherche">
		<h3>résultat de votre recherche</h3>
		{% if articles is not null %}
			{% if articles is not empty %}
				<ul>
					{% for article in articles %}
						<li>
							<span class="categorie">{{ article.categorie.nom }}</span><br>
							<a href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.titre }}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>Aucun article trouvé.</p>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
