{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	{% if form %}
		<div class="searchBar">
			{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
			{{ form_widget(form.recherche) }}
			<button type="submit" class="search"><img src="{{ asset('icons/ph/magnifying-glass.svg') }}" alt="icon de loupe rechercher un article" width="25px" height="25px" class="recherche"></button>
			{{ form_end(form) }}
		</div>
	{% endif %}
</div>
<div class="categorie">
	{% for categorie in categories %}
		<a href="{{ path('app_categorie_articles', {id: categorie.id}) }}">
			{{ categorie.nom }}
		</a>
	{% endfor %}
</div>
<div class="resultatRecherche">

	<h3>résultat de votre recherche</h3>
	{% if articles is not null %}
		{% if articles is not empty %}
			<ul>
				{% for article in articles %}
					<div>
						<a href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.titre }}</a>
						<div class="img-search">
							<img src="{{ asset('images/' ~ article.image) }}" alt="Image de l'article" class="article-image">
						</div>
						<span class="categorie">{{ article.categorie.nom }}</span><br>

						<p class="chapeau">{{ article.chapeau }}</p>
						<span>publié le
							{{ article.date|date('d/m/Y H:i') }}</span>
					</div>
				{% endfor %}
			</ul>
		{% else %}
			<p>Aucun article trouvé.</p>
		{% endif %}
	{% endif %}
</div>{% endblock %}
