{% extends 'base.html.twig' %}
{% block body %}
	<section class="detail">
		<span class="categorie-detail">{{ article.categorie.nom }}</span>
		<div class="articleDetail">
			<h2 class="titreDetail">{{ article.titre }}</h2>
			<span>publié le
				{{ article.date|date('d/m/Y H:i') }}</span>
			<p class="paraDetail">{{ article.chapeau }}</p>
			<div class="imgDetail">
				<img src="{{ asset('images/' ~ article.image) }}" alt="image de l'article de bolonews">
			</div>
			<div class="article-textDetail">
				<div>
					<p class="contenuDetail">{{ article.contenu }}</p>
					<span>publié par
						{{ article.auteur.nom }}</span>
					<div class="like" data-id="{{ article.id }}">
						<img src="{{ asset('icons/ph/heart.svg') }}" alt="like" class="like-icon" width="25px" height="25px">
						<span class="like-count">{{ article.likes|length }}</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div
		class="black-space"><!-- utiliser pour la barre noire -->
	</div>
	<section class="commentaire">
		<h3>Commentaires :</h3>
		{% for commentaire in commentaires %}
			<div class="commentaire-card">
				<span class="commentaire-auteur">{{ commentaire.auteur.nom }}</span>
				<span class="commentaire-date">Postée le :
					{{ commentaire.date|date('d/m/Y H:i') }}</span>
				<p class="commentaire-contenu">
					<strong>{{ commentaire.contenu }}</strong>
				</p>
			</div>
		{% else %}
			<p>Aucun commentaire pour cet article.</p>
		{% endfor %}
		<h4>Ajouter un commentaire</h4>
		{% if app.user %}
			{{ form_start(form) }}
			{{ form_widget(form.contenu) }}
			<button type="submit" class="btn btn-primary">Ajouter</button>
			{{ form_end(form) }}
		{% else %}
			<p>Vous devez être connecté pour commenter.</p>
		{% endif %}
	</section>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/like.js') }}"></script>
{% endblock %}
